<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Final Assignment of Tools for Data Science Course</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this notebook, we provided a summary of data science languages, libraries, and tools.<p>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular data science languages are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries are:
<ol>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>TensorFlow.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th>Description</th>
    <th>Use Case</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
    <td>Interactive environment for data analysis</td>
    <td>Data cleaning, visualization, machine learning</td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td>Big data processing framework</td>
    <td>Distributed data processing and machine learning</td>
  </tr>
  <tr>
    <td>Tableau</td>
    <td>Data visualization software</td>
    <td>Creating interactive visualizations and dashboards</td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

### Adding two numbers
result = 5 + 3
Output: 8

### Subtracting two numbers
result = 10 - 4
Output: 6

### Multiplying two numbers
result = 6 * 7
Output: 42

### Dividing two numbers
result = 20 / 4
Output: 5.0

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

In [30]:
(3*4)+5
# Result: 17

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

This will convert 200 minutes to hours by diving by 60

In [1]:
#Example 
minutes = 120
hours = minutes / 60
print(f"Convert {minutes} minutes to hours: {hours}")

Convert 120 minutes to hours: 2.0

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>List on Data Science tools.</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Hau Duong